extends baseTemplate

block content 
  main.main
  .card-container
    .card
      .card__header
        h3.heading-tertirary
          span Sign In
      .card__details
        h4.card__sub-heading New Student 
        p.card__text
          | Please enter the following Details
        .card__data
          svg.card__icon
            use(xlink:href='img/icons.svg#icon-map-pin')
          form(action='/login')
            label(for='fname') First name:
            input#fname(type='text' name='fname')
            br
            br
            label(for='lname') Last name:
            input#lname(type='text' name='lname')
            br
            br
            label(for='email') Email:
            input#email(type='email' name='email')
            br
            br
            label(for='password') Password:
            input#password(type='password' name='password')
            br
            br
            label(for='cpassword') Confirm Password:
            input#cpassword(type='password' name='cpassword')
            br
            br
            input.card__sub-heading(type='submit' value='Submit')
  .footer
  .footer__logo
    img(src='img/logo.png' alt='Course logo')
  ul.footer__nav
    li
      a(href='#') About us
    li
      a(href='#') Download Course information
    li
      a(href='#') Become a Student
    li
      a(href='#') Careers
    li
      a(href='#') Contact
  p.footer__copyright
    | &copy; by Student Learners.
